<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAS - Vaccine Appointment System</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="bg-gray-100 h-screen p-5 flex flex-col items-center">
        <header class="mb-5">
          <h1 class="font-bold text-5xl text-center">VAS</h1>
          <h2 class="font-semibold text-lg text-center">Vaccine Appointment System</h2>
        </header>
      

        <div class="border-2 rounded shadow-lg p-5 bg-white">
            <h3 class="font-bold text-lg text-center mb-5">Sign In</h3>

            <form action="/users/login" method="post" class="mb-8">
                <div class="mb-5">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required class="block rounded w-full mt-1" placeholder="ramtamang@example.com" />
                </div>
                
                <div class="mb-5">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required class="block rounded w-full mt-1" placeholder="************" />
                </div>
    
                <div class="w-full text-center">
                    <button class="bg-green-400 p-2 font-bold text-lg text-white rounded w-full">Submit</button>
                </div>
            </form>

            <div class="border-t border-gray-600 pt-5">
                <a class="text-blue-600" href="/register">Don't have an account? Please register.</a>
            </div>
        </div>

        <div class=" mt-10">
            <h3 class="font-semibold">Use these to login if you don't want to register</h3>
            <p><span class="font-semibold">Email:</span> ramtamang@example.com</p>
            <p><span class="font-semibold">Password:</span> rt[/VAX\]00</p>
        </div>

        <p class="mt-5 text-center">Made with dedication by <a href="https://nslcoder.github.io/" target="_blank" rel="noopener" class="text-blue-600">nslcoder</a> (Lokesh Gurung) for learning.</p>
      </div>      
</body>
</html>